# 02 序列构成的有序供应数组

In [1]:
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [2]:
for country,_ in traveler_ids:
    print(country)

USA
BRA
ESP

In [3]:
a,b,*rest = range(10)
a,b,rest

(0, 1, [2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [5]:
# 对对象进行切片一个众所周知的秘密是，我们还可以用s[a:b:c]的形式对s在a和b之间以c为间隔取值。c的值还可以为负，负值意味着反向取值。下面的3个例子更直观些：
s = 'Viva la vida'

In [8]:
s[::3],s[::-1],s[::-2]# 看起来快成密码了

('Vaai', 'adiv al aviV', 'ai lai')

In [10]:
# - 建立由列表组成的列表有时我们会需要初始化一个嵌套着几个列表的列表，譬如一个列表可能需要用来存放不同的学生名单，或者是一个井字游戏板3上的一行方块。想要达成这些目的，最好的选择是使用列表推导
board = [[':)']*4 for i in range(3)]
board

[[':)', ':)', ':)', ':)'], [':)', ':)', ':)', ':)'], [':)', ':)', ':)', ':)']]

In [11]:
board[1][2]= '\'_\''
board

[[':)', ':)', ':)', ':)'], [':)', ':)', "'_'", ':)'], [':)', ':)', ':)', ':)']]

In [17]:
t = (1,2,3)
t,id(t)

((1, 2, 3), 4538370368)

In [18]:
t *=2
t,id(t)

((1, 2, 3, 1, 2, 3), 4532298528)

In [19]:
l = [1, 2, 3]
l,id(l)

([1, 2, 3], 4538369984)

In [20]:
l*=2
l,id(l)

([1, 2, 3, 1, 2, 3], 4538369984)

In [21]:
t = (1, 2, [30, 40])
t[2] += [50, 60]
t

TypeError: 'tuple' object does not support item assignment